.section__Jobs {
  width: 85% !important;
  height: calc(100vh - 100px); /* Adjust the subtracted value as needed */
  margin: 30px auto; /* Adjust margin as needed */
  display: flex;
  align-items: left;
  justify-content: center;
  background-color: black;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 75px;
  flex-direction: row;
  padding-top: 12%;
  

}

/* Increase specificity to override Bootstrap */
.container.section__Jobs-container {
  width: 100% !important;
}


.section__Jobs-container span.index1-chosen {
  transform: translateY(0px);
}
.section__Jobs-container span.index2-chosen {
  transform: translateY(42px);
}
.section__Jobs-container span.index3-chosen {
  transform: translateY(84px);
}

.section__Jobs-styledTabList {
  width: 150px;
}

.section__Jobs-styledTabList {
  padding: 0;
}
