/* styles.css */
.headshot-container {
  width: 85%;
  height: calc(100vh - 100px); /* Adjust the subtracted value as needed */
  margin: 30px auto; /* Adjust margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 75px;
  flex-direction: column;
}
/* .headshot-container:hover{
  background-color: white;
} */
.Face{
  height: 40%;
  size: 20px;
}

/* h1{
  background-color: white;
}
h2{
  background-color: white;
} */